{% extends "base.html"  %}
{% block  content %}
<div class="ten columns">
  <div class="row">
    <fieldset>
      <legend> Edit posts </legend>
      <div class="row">
        <div class="one columns">
          <input type="checkbox" class="left" ></input>
        </div>
        <div class="three columns">
          <select id="actions" class="custom dropdown left">
            <option>Delete</option>
            <option>Publish</option>
            <option>Draft</option>
          </select>
        </div>
        <div class="four columns ">
          <input placeholder="search" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="row">
          {% for post in post %}
          <div class="twelve columns centered">
            <div class="one columns">
              <input type="checkbox" value="{{post.id}}" />
            </div>
            <a href="/brasil/{{post.id}}/">
              <div class="two columns">{{post.title}}</div></a>
            <div class="two columns">{{post.autor}}</div>
            <div class="two columns">{{post.creation_date}}</div>
            <div class="two columns">
              <a href="/brasil/delete/{{post.id}}/">
                Delete
              </a>
            </div>
            <div class="two columns">
              <a href="/brasil/toggle/{{post.id}}/">
                {% if post.published %}
                Draft
                {% else  %}
                Publish
                {% endif %}
              </a>
            </div>
          </div>
          {% endfor  %}
        </div>
      </div>
    </fieldset>
  </div>
</div>
{% include "brasil/sidebar.html"  %}
{% endblock  %}
{% block scripts %}
<script type="text/javascript">
  $(document).foundationTopBar();
  $(document).foundationAlerts();
  $('textarea').autosize();
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
        $('#content').redactor({ wym: true });
        });
</script>
{% endblock %}
