{% load media  %}
<div class="row">
  <div class="twelve columns">
    <nav class="top-bar expanded">
      <ul>
        <li class="name">
          <h1>
            <a href="#">
              Bentyne
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul>
          <li class="divider show-for-medium-and-up"></li>
          <li class="has-dropdown">
            <a href="#">
             Content
            </a>
            <ul class="dropdown">
              <li class="has-dropdown">
                <!-- <li><label> brasil </label></li> -->
                <a  href="/brasil/"> Blog </a>
                <ul class="dropdown">
                  <li><a href="/skylark/brasil/"> Add post </a></li>
                  <li><a href="/skylark/brasil/list"> Edit post </a></li>
                  <li class="divider"></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <!-- <li><label> cheryl </label></li> -->
                <a href="/skylark/cheryl/">Pages</a>
                <ul class="dropdown">
                  <li><a href="/skylark/cheryl/add/">Add page</a></li>
                  <li><a href="/skylark/cheryl/">Edit pages</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <!-- <li><label> oriel </label></li> -->
                <a href="/skylark/oriel/">Galleries</a>
                <ul class="dropdown">
                  <li><a href="/skylark/oriel/add/">Add gallery</a></li>
                  <li><a href="/skylark/oriel/">Edit gallery</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="right">
          <!-- <li class="divider show-for-medium-and-up"></li> -->
          <li class="has-dropdown">
            <a href="/skylark/">
              Administration
            </a>
            <ul class="dropdown">
              <li><label> Users </label></li>
              <li class="has-dropdown">
                <a href="/auth/"> Auth </a>
                <ul class="dropdown">
                 <li><a href="/auth/"> Users </a></li>
                  <li><a href="/auth/signup/"> Add user </a></li>
                </ul>
              </li>
              <li><label>Site</label></li>
              <li><a href="/skylark/settings/blog/">Blog Settings</a></li>
              <li><a href="/skylark/settings/">Page Settings</a></li>
              <li class="divider"></li>
              <li>
                <a href="/skylark/help/">Help</a>
              </li>
              <li><a href="/auth/signout/">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</div>

