{% load media %}
<div class="two columns">
  <dl class="nice vertical tabs">
    <dd >
      <a href="/skylark/dashboard/">
        <center>
          <img src="{% media_url 'img/dashboard.png' %}" alt="" />
          <hr/>
          Dashboard
        </center>
      </a>
    </dd>
    <dd>
      <a href="/skylark/brasil/">
        <center>
          <img src="{% media_url 'img/blog.png'%}" alt="" />
          <hr/>
          Blog
        </center>
      </a>
    </dd>
    <dd>
      <a href="/skylark/cheryl/">
        <center>
          <img src="{% media_url 'img/page.png' %}" alt="" />
          <hr/>
          Pages
        </center>
      </a>
    </dd>
    <dd>
      <a href="/skylark/oriel/">
        <center>
          <img src="{% media_url 'img/gallery.png' %}" alt="" />
          <hr/>
          Gallery
        </center>
      </a>
    </dd>
    <dd>
      <a href="/skylark/settings/">
        <center>
          <img src="{% media_url 'img/preferences.png' %}" alt="" />
          <hr/>
          Preferences
        </center>
      </a>
    </dd>
  </dl>
</div>
